# Test Report
## Bugs found in test
- [ ] **TestCase1:** Register xyz is not updated successfully
- [ ] **TestCase1:** Configuring with xyz mode doen't update required register bits
- [ ]  ...
## Branch name
`test-preph`
## Pull request number
!123
## Notes
1) I think the first issue is happend due to not initialzing pointer 
